src_asl2gloss/checks/data_frame_vids.py.pickle filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v8.keras filter=lfs diff=lfs merge=lfs -text
model/old_models_not_good_performance_v1_to_v7.tar.lrz filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v12.1.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v12.2.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v12.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v10.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v10.1.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v10.2.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v12.3.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v12.4.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v9.keras filter=lfs diff=lfs merge=lfs -text
src_multigloss2sentence/model_sent/model.safetensors filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v14.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v15 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v15.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v16.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v16.1.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v17.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v16.1/validation/events.out.tfevents.1755670291.dvxvb.1500600.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v16/train/events.out.tfevents.1755655502.dvxvb.1218145.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v16/validation/events.out.tfevents.1755658681.dvxvb.1218145.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v17/train/events.out.tfevents.1755872420.dvxvb.697235.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v17/validation/events.out.tfevents.1755872552.dvxvb.697235.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v16.1/train/events.out.tfevents.1755667061.dvxvb.1499410.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v16.1/train/events.out.tfevents.1755667103.dvxvb.1500600.0.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v18.a.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v18.a/train/events.out.tfevents.1755961144.dvxvb.790274.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v18.a/validation/events.out.tfevents.1755961600.dvxvb.790274.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v18/train/events.out.tfevents.1757424853.dvxvb.2121736.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v18/validation/events.out.tfevents.1757425074.dvxvb.2121736.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v18.keras filter=lfs diff=lfs merge=lfs -text
src_asl2gloss/pics_others/picture_running_raw_image.py.png filter=lfs diff=lfs merge=lfs -text
src_asl2gloss/pics_others/picture_running_skeleton_image.py.png filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v19.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v19/train/events.out.tfevents.1758338921.dvxvb.135334.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs.v19/validation/events.out.tfevents.1758339048.dvxvb.135334.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v20.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v20/train/events.out.tfevents.1759233803.doxob.84243.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v20/validation/events.out.tfevents.1759233923.doxob.84243.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v21.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v21/train/events.out.tfevents.1759245402.doxob.493598.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v21/validation/events.out.tfevents.1759245704.doxob.493598.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v22/train/events.out.tfevents.1759248562.doxob.607168.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v22/validation/events.out.tfevents.1759248731.doxob.607168.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v22.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v23.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v23_glasl/train/events.out.tfevents.1761836227.doxob.1515880.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v23_glasl/validation/events.out.tfevents.1761836627.doxob.1515880.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v24.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v24_glasl/train/events.out.tfevents.1761908217.doxob.79470.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v24_glasl/validation/events.out.tfevents.1761908439.doxob.79470.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v25.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v25_glasl/train/events.out.tfevents.1761923356.doxob.604474.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v25_glasl/validation/events.out.tfevents.1761923579.doxob.604474.1.v2 filter=lfs diff=lfs merge=lfs -text
src_asl2gloss/pics_others/human_whole_body.png filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v26.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v26_glasl/train/events.out.tfevents.1763188075.doxob.394841.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v26_glasl/validation/events.out.tfevents.1763188336.doxob.394841.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v27.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v27_glasl/train/events.out.tfevents.1763259424.doxob.121531.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v27_glasl/validation/events.out.tfevents.1763259757.doxob.121531.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v28.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v28_glasl/train/events.out.tfevents.1778431222.doxob.1993288.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v28_glasl/validation/events.out.tfevents.1778432050.doxob.1993288.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v30_glasl/validation/events.out.tfevents.1778598792.doxob.553739.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v30.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v30_glasl/train/events.out.tfevents.1778598154.doxob.553739.0.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v29.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v29_glasl/train/events.out.tfevents.1778687187.doxob.430096.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v29_glasl/validation/events.out.tfevents.1778687723.doxob.430096.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v31.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v31_glasl/train/events.out.tfevents.1780565912.doxob.1492705.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v31_glasl/validation/events.out.tfevents.1780566420.doxob.1492705.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v32.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v32_glasl/train/events.out.tfevents.1782102222.doxob.2069743.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v32_glasl/validation/events.out.tfevents.1782102316.doxob.2069743.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v33_glasl/validation/events.out.tfevents.1782117326.doxob.3981233.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v33.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v33_glasl/train/events.out.tfevents.1782117135.doxob.3981233.0.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v34.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v34_glasl/train/events.out.tfevents.1782119732.doxob.4092824.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v34_glasl/validation/events.out.tfevents.1782119992.doxob.4092824.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v35_glasl/train/events.out.tfevents.1782184890.doxob.402104.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v35_glasl/validation/events.out.tfevents.1782185404.doxob.402104.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v35.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v36.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v36_glasl/train/events.out.tfevents.1782213238.dvxvb.304839.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v36_glasl/validation/events.out.tfevents.1782213532.dvxvb.304839.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v37.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v37_glasl/train/events.out.tfevents.1784429215.dvxvb.142228.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v37_glasl/validation/events.out.tfevents.1784429467.dvxvb.142228.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v38_glasl/validation/events.out.tfevents.1784432684.dvxvb.272905.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v38.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v38_glasl/train/events.out.tfevents.1784432402.dvxvb.272905.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v39_glasl/train/events.out.tfevents.1785049159.dvxvb.454866.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v39_glasl/validation/events.out.tfevents.1785051138.dvxvb.454866.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v39.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v40_glasl/validation/events.out.tfevents.1785071869.dvxvb.1257398.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v40.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v40_glasl/train/events.out.tfevents.1785069981.dvxvb.1257398.0.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v41.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v41_glasl/train/events.out.tfevents.1785163047.dvxvb.46776.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v41_glasl/validation/events.out.tfevents.1785164843.dvxvb.46776.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v42.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v42_glasl/train/events.out.tfevents.1785601783.dvxvb.3466867.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v42_glasl/validation/events.out.tfevents.1785605789.dvxvb.3466867.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v43_glasl/train/events.out.tfevents.1785653866.dvxvb.1286994.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v43_glasl/train/events.out.tfevents.1785653947.dvxvb.1290636.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v43_glasl/train/events.out.tfevents.1785653999.dvxvb.1293270.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v43_glasl/validation/events.out.tfevents.1785657409.dvxvb.1293270.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v43.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v44.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v45.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v45_glasl/train/events.out.tfevents.1785859000.dvxvb.1761939.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v45_glasl/train/events.out.tfevents.1785860418.dvxvb.1817574.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v45_glasl/validation/events.out.tfevents.1785859161.dvxvb.1761939.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v45_glasl/validation/events.out.tfevents.1785861688.dvxvb.1817574.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v46.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v46_glasl/train/events.out.tfevents.1786035397.dvxvb.2619958.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v46_glasl/validation/events.out.tfevents.1786037236.dvxvb.2619958.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v47.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v47_glasl/train/events.out.tfevents.1786100067.dvxvb.2070656.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v47_glasl/validation/events.out.tfevents.1786101429.dvxvb.2070656.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v48.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v48_glasl/train/events.out.tfevents.1786237371.dvxvb.10427.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v48_glasl/validation/events.out.tfevents.1786238994.dvxvb.10427.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v49.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v49_glasl/train/events.out.tfevents.1786272540.dvxvb.1363757.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v49_glasl/validation/events.out.tfevents.1786274172.dvxvb.1363757.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v50_glasl/validation/events.out.tfevents.1786325057.dvxvb.1646699.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v50.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v50_glasl/train/events.out.tfevents.1786322906.dvxvb.1646699.0.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v51.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v51_glasl/train/events.out.tfevents.1786331789.doxob.567180.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v51_glasl/validation/events.out.tfevents.1786334649.doxob.567180.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v52_glasl/train/events.out.tfevents.1786350583.dvxvb.2724702.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v52_glasl/validation/events.out.tfevents.1786352420.dvxvb.2724702.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v52.keras filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v53.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v53_glasl/train/events.out.tfevents.1786410548.doxob.363331.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v53_glasl/validation/events.out.tfevents.1786412822.doxob.363331.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v54.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v54_glasl/train/events.out.tfevents.1786445724.dvxvb.218874.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v54_glasl/validation/events.out.tfevents.1786447589.dvxvb.218874.1.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v55_glasl/validation/events.out.tfevents.1786730103.dvxvb.3746179.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v55.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v55_glasl/train/events.out.tfevents.1786728309.dvxvb.3746179.0.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v56.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v56_glasl/train/events.out.tfevents.1786772502.dvxvb.1298407.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v56_glasl/validation/events.out.tfevents.1786776857.dvxvb.1298407.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v57.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v57_glasl/train/events.out.tfevents.1787264939.megamind.1309128.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v57_glasl/validation/events.out.tfevents.1787266678.megamind.1309128.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v58.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v58_glasl/train/events.out.tfevents.1787288346.megamind.2208505.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v58_glasl/validation/events.out.tfevents.1787289593.megamind.2208505.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v59.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v59_glasl/train/events.out.tfevents.1787309774.megamind.3036501.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v59_glasl/validation/events.out.tfevents.1787315255.megamind.3036501.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v60.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v60_glasl/train/events.out.tfevents.1787375656.megamind.1749146.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v60_glasl/validation/events.out.tfevents.1787379305.megamind.1749146.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v61.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v61_glasl/train/events.out.tfevents.1787616577.megamind.693588.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v61_glasl/validation/events.out.tfevents.1787617598.megamind.693588.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v62.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v62_glasl/train/events.out.tfevents.1787812906.megamind.1949955.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v62_glasl/validation/events.out.tfevents.1787815154.megamind.1949955.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v63.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v63_glasl/train/events.out.tfevents.1787897927.megamind.473091.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v63_glasl/validation/events.out.tfevents.1787898931.megamind.473091.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v64.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v64_glasl/train/events.out.tfevents.1787911712.megamind.1002698.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v64_glasl/validation/events.out.tfevents.1787912777.megamind.1002698.1.v2 filter=lfs diff=lfs merge=lfs -text
model/aslvid2gloss_v65.keras filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v65_glasl/train/events.out.tfevents.1787924735.megamind.1506376.0.v2 filter=lfs diff=lfs merge=lfs -text
model/tfboard_logs_v65_glasl/validation/events.out.tfevents.1787925902.megamind.1506376.1.v2 filter=lfs diff=lfs merge=lfs -text
